<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z3" [opened]="!isScreenSmall" [mode]="isScreenSmall ? 'over': 'side'">
    <mat-toolbar color="primary">
      <span>Characters</span>
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="pcs">
        <mat-list-item *ngFor="let pc of pcs">
          <!-- <a matListItemTitle [routerLink]="['/charactermanager', pc.id]">{{ pc.name }}</a> -->
          <a matListItemTitle (click)="setActivePC(pc.id)">{{ pc.name }}</a>
       </mat-list-item>
      </ng-container>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
