<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z3" [opened]="!isScreenSmall" [mode]="isScreenSmall ? 'over': 'side'">
    <mat-toolbar color="primary">
      <span>Characters</span>
    </mat-toolbar>
    <mat-list *ngFor="let pc of PCs">
      <mat-list-item>{{ pc.name }}</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
