<router-outlet></router-outlet>

<div class="content-area">
  <ng-container *ngIf="isCreatingCharacter; else viewCharacter">
    <h2>Create a New Character</h2>

    <label>Character Name:
      <input type="text" [(ngModel)]="newPC.name">
    </label>

    <label>Character Class:
      <select [(ngModel)]="newPC.clazz">
        <option *ngFor="let clazz of characterClasses" [value]="clazz">
          {{ clazz }}
        </option>
      </select>
    </label>

    <button (click)="submitPC()">Create Character</button>
    <button (click)="stopCharacterCreation()">Cancel</button>
  </ng-container>

  <ng-template #viewCharacter>
    <div *ngIf="pc">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-icon mat-card-avatar svgIcon="{{pc.avatar}}"></mat-icon> -->
          <mat-card-title>{{ pc.name }}</mat-card-title>
          <mat-card-subtitle>{{ pc.clazz }} {{ pc.level }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Ability Scores"> Ability Scores </mat-tab>
              <p>This card indeterminates progress bar.</p>
            <mat-tab label="Equipment"> Equipment </mat-tab>
            <mat-tab label="Spells"> Spells </mat-tab>
          </mat-tab-group>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" class="green-button" disabled>PLAY</button>
          <button mat-button disabled>EDIT</button>
          <button mat-button mat-button color="warn" (click)="openDeleteModal()">DELETE</button>
        </mat-card-actions>
      </mat-card>
  </div>

    <ng-template #noCharacterSelected>
      <h2>No Character Selected</h2>
      <p>Select or create a character to begin.</p>
        <mat-spinner></mat-spinner>
    </ng-template>
  </ng-template>
</div>