<div class="panel">
  <div class="panel-header">
    <span class="panel-title">Ability Scores</span>
  </div>
  <div class="abilities">
    <div
      *ngFor="let row of rows"
      class="ability"
      [class.prof]="row.isSaveProf"
    >
      <div class="ability-save">save</div>
      <div class="ability-name">{{ row.label }}</div>
      <div class="ability-mod">{{ row.mod }}</div>
      <div class="ability-score"><app-editable-number
        [value]="row.score" [editable]="editable" [min]="1" [max]="30"
        [intercept]="true" (editRequested)="requestScore(row.key, row.score)"
        [label]="row.label + ' score'" (committed)="setScore(row.key, $event)"
      >{{ row.score }}</app-editable-number></div>
    </div>
  </div>
</div>
